<div class="window">
    <!-- .toolbar-header sits at the top of your app -->
    <top-toolbar></top-toolbar>

    <!-- Your app's content goes inside .window-content -->
    <div class="window-content">
        <div class="pane-group">
            <left-toolbar></left-toolbar>

            <div class="pane">
                <div class="padded-more">
                    <person-list people="results" navigate="navigate"></person-list>
                </div>
            </div>
        </div>

    </div>
</div>
