<header class="toolbar toolbar-header">
    <div class="toolbar-actions">
        <div class="btn-group pull-right">
            <button class="btn btn-default" ng-click="navigate('settings')">
                <span class="icon icon-cog"></span>
            </button>
        </div>
        <div class="btn-group pull-left">
            <button class="btn btn-default" ng-click="navigate('/')">
                <span class="icon icon-home"></span>
            </button>
        </div>

        <div class="btn-group pull-left">
            <input type="text" class="btn btn-default" placeholder="Search" ng-model="search">
            <button class="btn btn-primary" ng-click="navigate('/search/'+search)">
                <span class="icon icon-search" style="color:white"></span>
            </button>
        </div>

        <button class="btn btn-default" ng-click="navigate('/advanced')">
            <span class="icon icon-down-dir"></span> Advanced
        </button>

    </div>

</header>
